@model Ticket

@{
    ViewData["Title"] = "Ticket Details";
}

<h2>Ticket Details</h2>
<div>
    <p><strong>ID:</strong>@Model.Id</p>
    <p><strong>Subject:</strong>@Model.Subject</p>
    <p><strong>Description:</strong>@Model.Description</p>
    <p><strong>Status:</strong>@Model.Status</p>
</div>